<h2>Вітаємо!</h2>
<p>Ласкаво просимо в адмін-частину веб сайту ТЦ «МАРК». За допомогою адмін-панелі ви зможете вносити зміни на веб сайт.</p>
<p style="font-size: 0.85em">В разі виникнення питань та технічних помилок просимо звертатись до студійної служби підтримки support@voroninstudio.eu</p>